.git
.github
**/.gradle
**/build
**/out
**/.idea
**/*.iml
**/allure-results
**/allure-report
**/ajcore.*.txt
tests-api
tests-e2e
perf
*.md
*.png
Events.png
New_event.png
Event_details.png
app/.venv
**/node_modules
